
{% extends 'layout.twig' %}
{% block main %}

<div class="jumbotron">
		<div class="container-fluid">
			
			<!-- Jumbotron content section -->
			<div class="row hero-content">
				<div class="col-sm-3"></div>
					<div class="col-sm-6 
								text-center">
						<h1>I'm Ryan.</h1>
						<p>A web developer based on SYDNEY.
							I love building simple and elegant website that meets your personal purpose or business solution.</p>
					</div>
				<div class="col-sm-3"></div>
			</div> <!-- End jumbotron content section-->
			
			<!-- Jumbotron footer section -->
			<div class="row">
				<div class="scroll-down-arrow text-center row"><a href="#about"><i class="fa fa-chevron-down"></i></a></div>
				   
					<ul class="home-social-links">
            			<li >
              				<a href="https://github.com/gitrazesh" 
              					target="_blank" 
              					>
              					<i class="fa fa-github fa-lg home-social-icon" 
              						aria-hidden="true">
              					</i>
              				</a>
            			</li>
			            <li>
			              <a href="https://codepen.io/dev-ryan/" 
			              	target="_blank">
			              	<i class="fa fa-codepen fa-lg home-social-icon" 
			              		aria-hidden="true">
			              	</i>
			              </a>
			            </li>
			            <li>
			              <a href="https://www.linkedin.com/in/rajesh-basnet-507a8260?trk=nav_responsive_tab_profile" 
			              	target="_blank">
			              	<i id="twitter" class="fa fa-linkedin fa-lg home-social-icon" 
			              		aria-hidden="true">
			              	</i>
			              </a>
			            </li>
			            <li>
			              <a href="mailto:basnetrahzes@hotmail.com" 
			              	target="">
			              	<i class="fa fa-paper-plane-o fa-lg home-social-icon" 
			              		aria-hidden="true">
			              	</i>
			              </a>
			            </li>
          			</ul>
				</div>
			</div> <!-- End hero-footer -->
		
	</div> <!-- End of jumbotron -->

	<!-- About section -->
	<div class="container about-section" id="about">
		<article> <!-- Introduction area -->
			<div class="page-header">
				<h2 style="">Who Am I</h2>
			</div>
			<div class="profile-image-wrapper">
				<img class="profile-image img-thumbnail img-circle" 
					src="https://s3-us-west-2.amazonaws.com/ryanbasnet/profile_img.jpg" 
					alt="Ryan Basnet">
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<div class="content">Hi,I am freelance web developer from Sydney, Australia.
										I have a passion for web development and  love to build simple,clean and functional website. 
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</article>
		</div>
	<!-- Contact section -->
	<div class="container contact-section" id="contact">	
			<div class="page-header">
				<h2>Contact</h2>
			</div>
			<div class="content">I would love to hear from you.
								  Drop me a line or give me a ring and lets get to know each other.
			</div>
			
			<div class="row">
				<div class="col-md-2"><!--Left Pane--></div>
				<div class="col-md-8	contact-form-container slide-anim">
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1 contact-form"> <!-- Contact-form -->
								<form role="form" 
									  id="contact-form"
									  method="post"
									  >
							  			<!-- Name input field area -->
							  			<div class="form-group form-group-name">
							    			<label for="email">Name:</label>
							    			<div class="input-group">
								     			<span class = "input-group-addon glyphicon glyphicon-user"></span>
								    			<input type="text" 
								    				 	class="form-control"
							    				 		id="name"
							    				 		name="name" placeholder="Name"
							    				 		required>
							    			</div>
							    			<p class="name-error error "></p>
							  			</div> <!-- End name input field area -->
							  			
							  			<!-- Email input  field area -->
							  			<div class="form-group form-group-email">
							    			<label for="pwd">Email:</label>
							    			<div class="input-group">
							     				<span class = "input-group-addon">@</span>
							    				<input type="email"
							    						class="form-control"
							    						id="email"
							    						name="email"
							    						required>
							    			</div>
							    			<p class="email-error error "></p>
							  			</div> <!-- End email input field area -->
							  			
							  			<!-- Message textarea -->
							  			<div class="form-group form-group-message">
							    			<label for="message">Message:</label>
											<div class="input-group">
							     				<span class = "input-group-addon glyphicon glyphicon-comment"></span>
							    				<textarea class="form-control"
							    							id="message" rows="10"
							    							name="message"
							    							required></textarea>
							    			</div>
							   				<p class="error message-error"></p>
							  			</div> <!-- End message textarea -->

							  			<div class="form-group">
							  				<button type="submit" class="btn btn-default btn-lg btn-send">Submit</button>
							  			</div>
								</form>
							</div> <!-- End contact-form -->
						
						</div>
				</div><!--  Contact-form-container -->
				<div class="col-md-2"><!--Right Pane--></div>
			</div>
	</div> <!-- End contact section -->
	
	{% endblock main %}