<!DOCTYPE html>
<html lang="en">
	
	{% include 'includes/header.twig' %}

<body data-spy="scroll" data-target=".navbar">
	<div class="container-fluid">
	<!-- Preloader -->
	{% include 'includes/preloader.twig' %}

	<!-- Navigation -->
	{% include 'includes/navigation.twig' %}

	<!-- Main -->
	{% block main %}
	{% endblock main %}
		
		
		
	<!-- Footer -->

	{% include 'includes/footer.twig' %}
	{% include 'includes/project_modal.twig' %}
</div>
	<!-- Bootstrap js and libs
		================================================== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Masonary image gallery plugin -->
	<script  src="/js/libs/salvattore.js"></script>
	<!-- JQuery visible plugin -->
	<script  src="js/libs/jquery.visible.js"></script>
	<script  src="js/com.ryanbasnet.js"></script>

</body>

</html>