{% extends 'front/layout.twig' %}
{% block main %}
	<div class="row ">
		<div class="col-md-12 error-container">
			<h2 class="text-center"><span id='error-code'>{{errorStatusCode}}&nbsp;</span>{{errorStatusMessage}}</h2>
			
			
		</div>
	</div>
{% endblock main %}