/*
* @Author: Rajesh Basnet
* @Date:   2016-05-20 12:52:34
* @Last Modified by:   Rajesh Basnet
* @Last Modified time: 2016-05-21 18:40:46
*/




/* ------------------------------------------*/
/* ------>>> ERIC MYERE RESET CSS <<<--------*/
/* -----------------------------------------*/


/* -----------------------------------------*/
/* ---------->>> GENERIC <<<----------------*/
/* -----------------------------------------*/


/* ----------------------------------------*/
/* ---------->>> GLOBAL <<<----------------*/
/* ----------------------------------------*/

/* ----------------------------------------*/
/* ---------->>> HEADER <<<----------------*/
/* ----------------------------------------*/


.page-header{
	border:none;
}
.page-subheader{
	text-align: center;
	padding:10px 0px;
}


/* ------------------------------------------*/
/* ---------->>> HEADINGS <<<----------------*/
/* -----------------------------------------*/
	
	h2{
		text-align:center;
		color:#F27360;
		font-size: 53px;
		font-weight: 600;
		line-height: 60px;
	}

	h3{
		
		color:#485868;
		font-size: 43px;
		font-weight: 600;
		line-height: 50px;
	}

/* -----------------------------------------*/
/* ---------->>> NAVIGATION <<<-------------*/
/* ----------------------------------------*/


.navbar{

		border: none;
		background-color: transparent;

	}


	.navbar-brand{
		
		padding:10px 15px;

	}

	.navbar .navbar-toggle{
		background-color:transparent;
		padding: 0;
		border:none;
	}

	.navbar .navbar-toggle .icon-bar{
		width:35px;
		background-color: #fff;
		margin-bottom:7px;
		
	}

	
	.navbar-default .navbar-nav{
		/*border:1px green solid;*/
		position: absolute;
		right: 30px;
		bottom: -10px;
		
	}


	.navbar-default .navbar-nav li{
         
          padding:5px 15px;

         }
	
	.navbar-default .navbar-nav>li>a {
		
		color:white;
		font-family: 'Ubuntu', sans-serif; 
		font-size: 13pt;
		font-weight: 500;
		letter-spacing: 1.5px;

	}


	.navbar-default .navbar-nav>li>a:hover{
            
            color:white;

          }


	.navbar-default .navbar-nav>li>a:before {

         content: "";
         position: absolute;
         width: 100%;
         height: 2px;
         bottom: 0;
         left: 0;
         background-color: #fff;
         visibility: hidden;
         -webkit-transform: scaleX(0);
         transform: scaleX(0);
         -webkit-transition: all 0.3s ease-in-out 0s;
         transition: all 0.3s ease-in-out 0s;

        }


    .navbar-default .navbar-nav>li>a:hover:before {

		 visibility: visible;
		 -webkit-transform: scaleX(1);
		 transform: scaleX(1);

		}


	
/* ----------------------------------------*/
/* ---------->>> PAGE LAYOUTS <<<----------*/
/* ----------------------------------------*/


.jumbotron{
	background: url('../images/jumbotron_bg.jpg') no-repeat center center;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
		
	}
	
	.hero-content{

		margin-top: 150px;
	}

	.jumbotron h1{
		
		color:#fff;
		font-family:Oleo Script;
		font-size: 90px;
		letter-spacing: 1.5px;
		line-height: 93px;
		margin-top:7%;
		margin-bottom: 20px;
	}


	.jumbotron h4{

		color:#fff;
		font-size: 15pt
		font-weight:50;
		letter-spacing: 1px;
		line-height: 30px;
		font-weight: 100px;

	}

	.hero-footer{
		
		
		width: 100%;
		position: absolute;
		bottom: 0;
		
	}

	#home-social-links{
	
		padding: 5px;
	
	
	}

	#home-social-links a{

		color:white;
		font-size: 16px;
	}

	#home-social-links li{

		display: inline-block;
		list-style-type: none;
		padding-right:40px;

	}

	.fa-github:hover{

		color:#AB82D8;
	}

	.fa-twitter:hover{

		color:#3CF;
	}

	.fa-codepen:hover{

		color:#A3272A;
	}

	.fa-paper-plane-o:hover{

		color:#428BCA;
	}

	.img-wrapper{

		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.profile-img{

		width:130px;
		height: 130px;
	}

	.content{

		color:#6E6F71;
		font-size: 21px;
		line-height:30px;
		font-weight: 500;
		text-align:center;
	}
	


/* ----------------------------------------*/
/* ---------->>> MEDIA QUERIES <<<----------------*/
/* ----------------------------------------*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	
	


	#logo{

		width: 80px;
		height: 40px;

	}

	.navbar .navbar-toggle{
		background-color:transparent;
		margin:15px 10px;
		border:none;
	}

	.navbar .navbar-toggle .icon-bar{
		
		
		
	}
	.hero-footer{

		text-align: center;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	.navbar{
	
		height: 80px;
		
	}



	#logo{

		height:60px;
		width: 120px;

	}

	.navbar .navbar-toggle{
		background-color:transparent;
		margin:20px 10px;
		border:none;
	}

	.navbar .navbar-toggle .icon-bar{

		margin-bottom:7px;
		
	}

	


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	
.hero-footer{

		text-align: left;
	}
	
	
		
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	
}