{% extends 'front/layout.twig' %}
{% block main %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default login-container">
                   
                    <div class="panel-body">
                         <div class="panel-heading"><h3  class="text-center">Password Recovery</h3></div>
                       
                          <p>Forgot your password? Enter your email address and we'll send you a reset link.</p>  
                     
                        
                        {% if errors is not empty %}
                            <div class="alert alert-danger">
                                {% for error in errors %}  
                                    <p class="text-danger">{{ error | first }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <form method="post"  action="/account/forgot-password" >
                           <!-- email -->
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" id="email" name="recovery-email" placeholder="your email" >
                            </div>

                            <button class="btn btn-success btn-lg btn-reset" >Send reset email </button>
                            {{ csrf.field | raw }}
                        </form>
                         <br>
                        <a href="{{ path_for('admin.signin')}}" class="pull-right">Login</a>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
             </div>
             <!-- /.col-sm-4 -->
        </div>
        <!-- /.row -->
{% endblock main %}
