<footer>
	
		<div class="row footer">
			<ul><li><dl class="contact-info">
									<dt>EMAIL</dt>
									<dd>rajesh2045@gmail.com</dd>
									
									</li>
			<li><dl class="contact-info"><dt>TELEPHONE</dt>
									<dd>+61433371679</dd></dl></li>
			<li><dl class="contact-info"><dt>ADDRESS</dt>
									<dd>13 St Georges Pde, Hurstville, NSW 2220, Australia</dd></dl></li></ul>
		
		
	</div>
</footer> 