<nav class="navbar navbar-custom navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Logo -->
			<a class="navbar-brand" href=""><img id="logo" src="https://s3-us-west-2.amazonaws.com/ryanbasnet/ryan_basnet_logo.png" alt="Ryan Basnet"></a>
		</div>

		 <div class="collapse navbar-collapse" id="my-nav">
  			<ul class="nav navbar-nav navbar-right">
				<li><a href="#about">About</a></li>
				<li><a href="#work">Work</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
	