<!-- Modal bootstrap -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="project-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-xs-center">
       <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
        <!-- project title -->
        <h3 class="modal-title text-center" id="project-modal-title">Modal title</h3>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-7 text-xs-left"><img class="img-responsive"id="project-image" src="" alt="" /></div>
            <div class="col-sm-5">
              <!-- project details -->
              <dl class="project-details text-left">
                  <dt class="project-name"></dt>
                  <dd class="project-category"></dd>
                   
                  <dd class="project-description"></dd>
                  <dd><a class="btn btn-visit-site project-url" href="" target="_blank"><i class="fa fa-eye" aria-hidden="true"  >&nbsp;&nbsp;</i>Visit Site</a></dd>
                   
               </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
