<!-- Modal bootstrap -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="project-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-xs-center">
       <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
        <!-- project title -->
        <h3 class="modal-title text-center" id="myModal-title">Modal title</h3>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-7 text-xs-left"><img class="img-responsive"id="project-image" src="http://res.cloudinary.com/drngztmou/image/upload/v1468463213/1_cqkuvm.jpg" alt="" /></div>
            <div class="col-sm-5">
              <!-- project details -->
              <dl class="project-details text-left">
                  <dt class="project-name">Project Name</dt>
                  <dd class="project-category">Web Design</dd>
                   
                  <dd class="project-description">My Personal Project Name</dd>
                   
               </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
